# Don't update the data
data/**
transformation/transform_playground.ipynb
.gitignore
analysis/tmp/**
**/__pycache__/**
dashboard/node_modules/**
dashboard/service/udemy_stats/__pycache__/**
dashboard/service/udemy_stats/__pycache__/courses_stats.cpython-311.pyc
.vscode/**